/* Page hero */
.page-hero {
  min-height: 600px;
  background-position: center;
  background-size: cover;
}

.page-hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-hero h1.title {
  font-size: 72px;
  color: white;
  margin-bottom: 8px;
}

.page-hero h4.subtitle {
  color: white;
}

/* Responsive images/videos */
.contact-us img,
.contact-us video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Text */
.contact-us h2,
.contact-us h3 {
  color: var(--dark-blue-color);
}

/* Faqs */
.row.contact-us {
  background-color: var(--light-blue-color);
}

.contact-us section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  text-align: left;
  color: var(--gray-color);
}

.contact-us .quick {
  grid-column: span 1;
  text-align: center;
  text-align: left;
}

.contact-us .quick ul {
  list-style: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

.contact-us .quick ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  color: var(--dark-blue-color);
}

.contact-us .quick ul li:last-of-type {
  margin-bottom: 0;
}

.contact-us .quick ul li img {
  margin-right: 16px;
}

.contact-us .social {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}

.contact-us .social a:not(:last-of-type) img {
  margin-right: 8px;
}

.contact-us .map {
  grid-column: span 2;
}

.contact-us .get-in-touch {
  grid-column: span 3;
  margin-top: 40px;
  text-align: center;
}

.contact-us .get-in-touch form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.contact-us .get-in-touch form input {
  grid-column: span 1;
}

.contact-us .get-in-touch form textarea {
  grid-column: span 3;
}

.contact-us .get-in-touch form input,
.contact-us .get-in-touch form textarea {
  width: -webkit-fill-available;
  cursor: pointer;
  padding: 16px 24px;
  font-weight: bold;
  color: var(--dark-blue-color);
  text-decoration: none;
  border: none;
  background-color: white;
}

.contact-us .get-in-touch form button {
  grid-column: span 3;
  cursor: pointer;
  padding: 16px 24px;
  width: 100%;
  font-weight: bold;
  color: white;
  background-color: var(--orange-color);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

@media (max-width: 992px) {
  .contact-us .quick {
    grid-column: span 3;
  }
  .contact-us .map {
    grid-column: span 3;
  }
  .contact-us .get-in-touch form input {
    grid-column: span 3;
  }
}
